body{
    font-family: 'Nunito', sans-serif;
    background-color: rgba(84,130,176,.4)
}

.container {
    display: flex;
    flex-direction:row;
    width: 100vw;
    margin: 0 auto
}


.container-center {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;
    
}

h1 {
    font-size: 2.5em;
    margin: .25em;
}

h3 {
    display:block;
    margin-top: 0;
    text-decoration: underline;
    width: 100%;
    height:1em

}

p {
    font-size: 1.3em;
    margin: .1em;
    width: 100%;
    text-align:left;
    padding-left:2em
}

#rules-link {
    text-decoration:underline;
}

#rules-link:hover, .close:hover {
    cursor: pointer
}

#game-board {
    max-width: 800px;
    max-height: 800px;
    width:40vw;
    height:40vw;
    margin: 0 1em;
    margin-top: 2em
}

.capture-zone {
    display:flex;
    flex-direction:column;
    text-align:center;
    width: 30vw;
    margin-left:10px;
    flex-grow: 1
}

.captured-tokens {
    display: flex;
    align-items:left;
    justify-content: left;
    width: 20vw;
    height: 100%;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap:wrap;


}

.capture-zone div {
    display:inline-block
}

.row {
    display:flex;
    justify-content:left;
    flex-direction:row;
    width:100%;
    border: thin solid black;
    height: 12%
}

.box {
    display: flex;
    justify-content:center;
    align-items: center;
    width:12.5%;
    height:100%;
    border: thin solid black;
}

.token {
    border-radius:50%;
    height: 85%;
    width: 85%;
    transition: transform .5s;
}

.token-red {
    background: rgba(235,50,50,.6)
}

.token-black {
    background: rgba(10,10,50,.6)
}


.king {
    background-image: url('./../images/crown-solid.svg');
    background-size: contain;
    background-repeat: no-repeat;  
}



#pop-up {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 20%;
    top: 25%;
    width: 70%;
    height: auto;
    background: white;
    border: thin solid black;
    background: rgba(232, 110, 130, 1);
    padding-right: 1em;
    padding-left: 1em
}

.pop-message {
    display:none;
    font-size: 2em;
    padding:0;
    text-align: center;
    margin-top:1em;
    height: auto
    
}

.close {
    position:absolute;
    top:0;
    right:0
}


.box-checker {
    background: rgba(160,160,200,.8)
}

.box-no-checker {
    background: rgba(245,195,203,.8)
}

#instructions p {
    font-size: .55em;
    text-overflow: wrap;
    padding-left:0;
    margin-bottom: .6em;
    text-align:justify
    
}

.capture-box {
    display:flex;
    justify-content: center;
    align-items: center
}

button {
    margin: 10px;
    width: 6em;
    font-size: 1em;
    border-radius:10%;
}

