.container-center {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    width: 100vw;
    height: 75vw
}

#game-board {
    width:50%;
    height:100%
}

.row {
    display:flex;
    justify-content:left;
    flex-direction:row;
    width:100%;
    border: thin solid black;
    height: 12.5%
}

.box {
    display:flex;
    justify-content:center;
    align-items: center;
    width:12.5%;
    height:100%;
    border: thin solid black;
}

.token {
    border-radius:50%;
    height: 50px;
    width: 50px;
}

.token-red {
    background:red
}

.token-black {
    background:black
}

.pop-up {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 20%;
    top: 25%;
    width: 60%;
    height: 30%;
    background: white;
    border: thin solid black

}